<form [formGroup]="ToyDetails" > 

  <div>
    <h1>enter the position</h1>
    x:
    1<input type="radio"  value="1" formControlName="xCoordinate">
    2<input type="radio"  value="2" formControlName="xCoordinate">
    3<input type="radio"  value="3" formControlName="xCoordinate">
    4<input type="radio"  value="4" formControlName="xCoordinate"> <br> <br>

    y:
    1<input type="radio"  value="1" formControlName="yCoordinate">
    2<input type="radio"  value="2" formControlName="yCoordinate">
    3<input type="radio"  value="3" formControlName="yCoordinate">
    4<input type="radio"  value="4" formControlName="yCoordinate"> <br>
    
    direction:
    east<input type="radio"  value="EAST" formControlName="direction">
    west<input type="radio"  value="WEST" formControlName="direction">
    north<input type="radio"  value="NORTH" formControlName="direction">
    south <input type="radio"  value="SOUTH" formControlName="direction">

    <div *ngIf="submitted && ToyDetails.controls.xCoordinate.errors">
      <div *ngIf="ToyDetails.controls.xCoordinate.errors.required">x is required</div>   
  </div>
  <div *ngIf="submitted && ToyDetails.controls.yCoordinate.errors">
    <div *ngIf="ToyDetails.controls.yCoordinate.errors.required">y is required</div>   
</div>
<div *ngIf="submitted && ToyDetails.controls.direction.errors">
  <div *ngIf="ToyDetails.controls.direction.errors.required">direction is required</div>   
</div>

    <button submit (click)="submit()">Update position</button>
    <button type="reset" >Reset</button>

  </div>

  
  <div>
    <h1>button for movement</h1>
    <button (click)="leftMove()" [disabled]="isPositionSet">Leftmove</button>
    <button (click) ="move()" [disabled]="isPositionSet">Move</button>
    <button (click)="rightMove()" [disabled]="isPositionSet">Right</button>

  </div>

  
  <button (click)="report()" [disabled]="isPositionSet">Report</button>
  <div *ngIf="isReportClicked">
    
    <h1>report</h1>

    x:{{xCoordinate}}
    y:{{yCoordinate}}
    direction:{{direction}}
    <button (click) ="closeReport()"> close report</button>
  </div>

</form>