<body>
<form [formGroup]="ToyDetails"> 
  <div class="container-fluid" style="font-size:12px !important;">
    <h1 align="center">Toy Robot Simulator</h1>
      <table>
        <tr >
          <td style="padding-left: 120px;padding-right: 15px;">
          <h5>Initial Position:</h5>
          Specify the X, Y coordinates of the Toy:<br>
          X:
            <div class="form-check-inline">
              <label class="form-check-label"> <input type="radio"
                class="form-check-input"  value="0" formControlName="xCoordinate">0
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label"> <input type="radio"
                class="form-check-input"  value="1" formControlName="xCoordinate">1
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label"> <input type="radio"
                class="form-check-input"  value="2" formControlName="xCoordinate">2
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label"> <input type="radio"
                class="form-check-input"  value="3" formControlName="xCoordinate">3
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label"> <input type="radio"
                class="form-check-input" value="4" formControlName="xCoordinate">4
              </label>
            </div> &nbsp;&nbsp;<br>
            Y:
            <div class="form-check-inline">
              <label class="form-check-label"> <input type="radio"
                class="form-check-input"  value="0" formControlName="yCoordinate" >0
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label"> <input type="radio"
                class="form-check-input"  value="1" formControlName="yCoordinate">1
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label"> <input type="radio"
                class="form-check-input"  value="2" formControlName="yCoordinate">2
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label"> <input type="radio"
                class="form-check-input" value="3" formControlName="yCoordinate">3
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label"> <input type="radio"
                class="form-check-input"  value="4" formControlName="yCoordinate">4
              </label>
            </div>
            <br><br>
            Specify direction:<br>
            <div class="form-check-inline">
              <label class="form-check-label"> <input type="radio"
                class="form-check-input"  value="EAST" formControlName="direction">East
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label"> <input type="radio"
                class="form-check-input" value="WEST" formControlName="direction">West
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label"> <input type="radio"
                class="form-check-input" value="NORTH" formControlName="direction">North
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label"> <input type="radio"
                class="form-check-input"  value="SOUTH" formControlName="direction">South
              </label>
            </div><br><br>

            <div *ngIf="submitted && ToyDetails.controls.xCoordinate.errors">
              <div *ngIf="ToyDetails.controls.xCoordinate.errors.required">x is required</div>   
          </div>
          <div *ngIf="submitted && ToyDetails.controls.yCoordinate.errors">
            <div *ngIf="ToyDetails.controls.yCoordinate.errors.required">y is required</div>   
        </div>
        <div *ngIf="submitted && ToyDetails.controls.direction.errors">
          <div *ngIf="ToyDetails.controls.direction.errors.required">direction is required</div>   
        </div>

            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-outline-info  btn-sm" (click)="submit()">Update Position</button>
              <button type="button" class="btn btn-outline-info  btn-sm"  type="reset">Reset Position</button>
            </div>
            <br><br>
            <h5>Robot movement:</h5>
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-outline-info  btn-sm" (click) ="move()" [disabled]="isPositionSet">Move</button>
              <button type="button" class="btn btn-outline-info  btn-sm"  (click)="leftMove()" [disabled]="isPositionSet">Left</button>
              <button type="button" class="btn btn-outline-info  btn-sm" (click)="rightMove()" [disabled]="isPositionSet">Right</button>
            </div><br><br>
            <h5>Robot Report:</h5>
            <div>
              <button type="button" class="btn btn-outline-info  btn-sm" (click)="report()" [disabled]="isPositionSet">Report</button><br>
              Current position of Robot:
            </div>
            <div *ngIf="isReportClicked">          
              x:{{xCoordinate}}
              y:{{yCoordinate}}
              direction:{{direction}}
              <button (click) ="closeReport()"> close report</button>
            </div>
          </td>
          <td>
            <div>
              <table class="table table-dark" style="border: 10px solid #6c757d" id="t01">
                <tbody>
                  <tr>
                    <td><img id="04" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="14" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="24" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="34" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="44" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                  </tr>
                  <tr>
                    <td><img id="03" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="13" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="23" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="33" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="43" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                  </tr>
                  <tr>
                    <td><img id="02" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="12" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="22" src="../../assets/app_image/toy_robot_car.jpg"></td>
                    <td><img id="32" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="42" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                  </tr>
                  <tr>
                    <td><img id="01" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="11" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="21" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="31" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="41" src="../../assets/app_image/toy_robot_car.jpg"/></td>
                  </tr>
                  <tr>
                    <td><img id="00" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="10" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="20" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                    <td><img id="30" src="../../assets/app_image/toy_robot_car.jpg"/></td>
                    <td><img id="40" src="../../assets/app_image/toy_robot_car.jpg" /></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>



</form>	
</body>